:root {
    font-size: 16px;
    --cream: #f7f1ed;
    --beige: #f4e2d6;
    --red: #98002e;
    --grey: #413939;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem auto 0 auto;
    font: 0.9em/1.2 Helvetica, sans-serif;
    background-color: var(--cream);
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;

}

.graphic {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


header {
    padding: 4rem;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    height: 2rem;
    width: 12rem;
}

.pill1 {
    background-color: var(--cream);
    text-decoration: none;
    width: 3rem;
    height: 1.5rem;
    font-size: .75rem;
    color: rgb(65, 57, 57);
    border: 1px solid rgb(65, 57, 57);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: .5rem;
}

.active {
    background-color: var(--red);
    color: var(--cream);
}
.pill1:hover {
    background-color: var(--red);
}

.pill1 a:hover {
    color: var(--cream);
}

.pill1 a {
    text-decoration: none;
    color: var(--grey);
}


nav {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

h1 {
    display: flex;
    flex-direction: row;
    size: 2 rem;
    color: var(--grey);
    font-weight: normal;
    justify-content: center;
    font-family: helvetica;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: helvetica;
}

h3 {
    font-size: 1rem;
    font-family: helvetica
}

.cellphone,
.pizza,
.mars,
.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2 rem 0 2 rem;
    padding: 0 2rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    width: 100%;


}

.bottom {
    background-color: var(--beige);
}

img {
    height: 350px;
    width: 350px;
    margin: auto;
    display: block;
}

section {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.welcome {
    width: 70%;
    padding: 10px;
}

.classroom img {
    width: 364px;
    height: 225px;
}

.button_GDES {
    width: 300px;
    height: 50px;
    background-color: var(--red);
    text-decoration: none;

    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 1px solid var(--red);

}

.button_GDES a {
    color: var(--cream);
    text-decoration: none;
    padding: 1rem;
}

.button_GDES:hover {
    background-color: var(--beige);
}

.button_GDES a:hover {
    color: var(--red);
}

footer {
    border-radius: 5px;
    border: 2px solid var(--grey);
    background-color: var(--red);
    color: var(--cream);
    height: 109px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 31px;
    width: 188px;
}


/*---this is media queries below-----*/

@media screen and (min-width: 769px) {
    .wrapper {
        justify-content: space-between;
        height: auto;
        width: 90%
    }

    header {
        align-items: flex-start;
        padding: 4rem;
    }

    header img {
        margin: 0;
    }

    .graphic {
        display: contents;
    }

    .graphic img {
        height: 200px;
        width: 200px;

    }
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25;
}
    main {
        display: grid;
        grid-template: auto / 1fr 1fr;
    }

    hr {
        display: none;
    }

    .welcome {
        max-width: 1440px;

    }
}

@media screen and (min-width: 1320px) {
    header img {
        min-width: 400px;
        height: auto;
    }
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.5;
}
    main {
        width: 90%;
        grid-template-columns: 35% 35% 20%;
        grid-template-rows: 2;
        grid-gap: 2rem;
        margin-top: 3rem;
    }

    .pizza img {
        min-width: 45rem;
        min-height: 40rem;
    }

    article {
        display: grid;


    }

    #one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;

    }

    #two {
        grid-column: 2 / 4;
        grid-row: 1 /2;
        margin-bottom: 2rem;
    }

    #three {
        grid-column: 1;
        grid-row: 2;
    }

    #four {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    #five {
        grid-column: 3 / 4;
        align-self: start;



    }
}


@media screen and (min-width: 1550px) {
    header img {
        min-width: 600px;
        height: auto;
    }
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    main {
        grid-template-columns: 25% 35% 35%;
        grid-gap: 3rem;
        margin-bottom: 4rem;
    }

    #two {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .pizza {
        margin: 0 2rem;
    }

    .pizza img {
        min-width: 500px;
        min-height: 500px;
        margin: 0 2rem;
    }

    #three {
        grid-column: 3;
        grid-row: 1;

    }

    .mars img {
        min-width: 500px;
        min-height: 500px;
        margin: 0 2rem;
    }

    #four {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .coffee {
        display: flex;
        flex-direction: row;
        background-color: var(--red);
        color: var(--cream);
    }

    .coffee .text-box {
        padding: 1rem;

        height: 300px;

    }


    #five {
        grid-column: 1;
        align-self: start;



    }
}