:root {
    font-size: 16px;
    --cream: #f7f1ed;
    --beige: #f4e2d6;
    --red: #98002e;
    --grey: #413939;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem auto 0 auto;
    font: 0.9em/1.2 Helvetica, sans-serif;
    background-color: var(--cream);
}
.wrapper {
    display: flex;
    flex-direction: row;

}
.graphic {
    display: none;
}

main {

}
.grid {
    display: grid;
    gap: 2rem;
}

header {
    padding: 10px;
    border: 2px solid var(--grey);
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    height: 2rem;
    width: 12rem;
}

.pill1 {
    background-color: var(--cream);
    text-decoration: none;
    width: 3rem;
    height: 1.5rem;
    font-size: .75rem;
    color: rgb(65, 57, 57);
    border: 1px solid rgb(65, 57, 57);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: .5rem;
}

.pill1:hover {
    background-color: var(--red);    
}

.pill1 a:hover {
    color:  var(--cream);
}
.pill1 a {
    text-decoration: none;
    color: var(--grey);
}

nav {
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
}

h1 {
    display: flex;
    flex-direction: row;
    size: 2 rem;
    color: var(--grey);
    font-weight: normal;
    justify-content: center;
    font-family: helvetica;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: helvetica;
}

h3 {
    font-size: 1rem;
    font-family: helvetica
}

.cellphone,
.pizza,
.mars,
.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2 rem 0 2 rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    width: 100%; 
    
    
}
.bottom {
background-color: var(--beige);
}
img {
    height: 350px;
    width: 350px;
    margin: auto;
    display: block;
}

.welcome {
    width: 100%;
    background-color: var(--beige);
    padding: 10px;
}

.classroom img {
    width: 364px;
    height: 225px;
}

.button_GDES {
    width: 300px;
    height: 50px;
    background-color: var(--red);
    text-decoration: none;
    
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 1px solid var(--red);

}

.button_GDES a {
    color: var(--cream);
    text-decoration: none;
    padding: 1rem;
} 

.button_GDES:hover {
    background-color: var(--beige);
}
.button_GDES a:hover {
    color: var(--red);
}
footer {
    border-radius: 5px;
    border: 2px solid var(--grey);
    background-color: var(--red);
    height: 109px;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 31px;
    width: 188px;
}
@media screen and  (min-width: 769px) {
    .wrapper {
        justify-content: space-between;
        height: auto;
    }
    header {
        align-items: flex-start;
        margin: 0;
    }

header img  {
    margin: 0;
}

    .graphic {
 display: contents;
    } 
   .graphic img {
    height: 200px;
    width: 200px;

   }
    .grid {
        display: grid;
        grid-template: auto / 1fr 1fr;
        gap: 4rem;
    }

    .grid-item {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1320px) {
    .grid {
        grid-template: (1fr, 1fr, 1fr, 1fr);
    }
    hr {
        display: none;
    }
    .pizza img {
        min-width: 45rem;
        min-height: 40rem;
    }
    .internet {

    }
}
@media screen and (min-width: 1920px) {
    .grid {
    grid-template: auto / repeat(4, 1fr)
}
}